* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: #110501;
    padding: 0 200px;
    width: 100%;
}

header nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

header nav #logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

header nav ul {
    width: 300px;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
}

header nav ul li a {
    color: #EAE0D5;
    text-decoration: none;
    font-size: 14px;
}

header nav ul li a:hover {
    text-decoration: underline;
}

header #header-container {
    display: flex;
    height: 400px;
}

header #header-container #head-left {
    flex: 1;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header #header-container #head-left h1 {
    color: #F9FAF8;
    font-size: 48px;
}

header #header-container #head-left p {
    font-size: 18px;
    color: #EAE0D5;
    padding: 15px 0;
}

header #header-container #head-left button {
    width: 200px;
    height: 30px;
    color: #EAE0D5;
    background-color: #5E503F;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

header #header-container #head-left button:hover {
    background-color: #7b6851;
}

header #header-container #head-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

header #header-container #head-right img{
    width: 500px;
    height: 240px;
    object-fit: cover;
}

main {
    padding: 10px 200px;
}

main #cards-container {
    height: 350px;
    text-align: center;
    padding: 30px 0;
}

main #cards-container h2 {
    font-size: 28px;
    color: #110501;
}

main #cards-container #cards {
    padding: 30px;
    display: flex;
    justify-content: space-around;
}

main #cards-container #cards .card {
    width: 200px;
    height: 230px;
    border-radius: 8px;
}

main #cards-container #cards .card img {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    border: 1px solid #5E503F;
    object-fit: cover;
}

main #cards-container #cards .card p {
    padding: 5px 0;
    color:#5E503F;
}

article {
    width: 100%;
    height: 340px;
    background-color: #EAE0D5;
    color: #5E503F;
    padding: 40px 200px;
}

article blockquote {
    font-size: 32px;
    font-weight: 100;
    padding: 80px 10px 20px;
}

article p {
    font-size: 18px;
    text-align: right;
    padding-right: 40px;
}

#CTA {
    padding: 80px 200px;
    width: 100%;
    height: 300px;
}

#CTA #CTA-background {
    background-color: #5E503F;
    color: white;
    padding: 50px 40px;
    display: flex;
    justify-content: space-around;
    border-radius: 8px;
}

#CTA #CTA-background button{
    width: 100px;
    height: 30px;
    background-color: #5E503F;
    border: 1px solid white;
    border-radius: 8px;
    font-size: 14px;
    color: white;
}

#CTA #CTA-background button:hover{
    background-color: #7b6851;
}

footer {
    width: 100%;
    height: 80px;
    background-color: #110501;
    color: #EAE0D5;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}
