* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: #1f2937;
    padding: 0 200px;
}

header nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

header nav #logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

header nav ul {
    width: 300px;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
}

header nav ul li a {
    color: #E5E7EB;
    text-decoration: none;
    font-size: 14px;
}

main {
    padding: 0 200px;
}


footer {
    background-color: #1f2937;
}